.app-bar {
  background-image: linear-gradient(to right, #261822, #5c2971);
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn-back {
  background-image: linear-gradient(to right, #261822, #5c2971);
}

.btn-back:hover {
  background-image: linear-gradient(to right, #452b3e, #72348b);
  font-weight: 700;
}

.image-btn {
  border-style: solid;
  border-width: 2px;
  border-color: #261822;
  border-radius: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.image-btn:hover {
  background-color: #ebd3ef;
  border-width: 3px;
  cursor: pointer;
}
